*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#212121; 
    margin: 0 auto;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 2rem;
}

.all-button{
    display: flex;
    /* grid-template-columns: repeat(1,4fr); */
    gap: 15px;
    margin: 2rem;
}

.button{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

#grey{
    background-color: gray;
    border: 1px solid white;
}
#white{
    background-color: white;
    border: 1px solid black;
}
#blue{
    background-color: blue;
    border:  1px solid white;
}
#yellow{
    background-color: yellow;
    border: 1px solid white;
}

